<%- include('header') -%>
<div class="content">
    <div class="row mb-3">
        <div class="col-6 col-md-3">
            <a href="/" class="btn btn-lg btn-block btn-danger">Menü</a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-3 d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title h3">Sikeres rendelés!</h3>
                <div class="d-flex justify-content-center"><img src="/resources/food-making.png" style="max-width: 150px;" alt="Food Image"></div>
                <h1 class="card-title h1">A munkatársaink már készítik is az ételedet.</h1>
            </div>
        </div>
    </div>
</div>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- include('footer') -%>