body {
    background-image: url(/repeat-background.jpg) !important;
}

body::before{
    background-color: white;
    opacity: 0.8;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
    overflow-x: auto;
}

.smallcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

h1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

  
td, tr, label, h1, h2, h3, p, button, a > input, a > button, .fab {
    text-shadow: 1px 1px 1px #aaa;
    font-family: 'Kaspersky', arial;
    color: black
}

td > img {
    max-width: 200px; 
    max-height: 120px;
}

table {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 700px;
}

button {
    color: rgb(187, 74, 74);
}
  
a {
    color: orange
}
  
.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
}

#chat-section {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 400px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#chat-window {
    height: 85%;
    overflow-y: auto;
    padding: 10px;
}

#chat-input {
    height: 15%;
    display: flex;
    align-items: center;
    padding: 10px;
}

#message {
    flex-grow: 1;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    #chat-section {
        width: 100%;
        height: 300px;
        border-radius: 0;
        border-top: 1px solid #ccc;
        bottom: 0;
        right: 0;
    }
}

@font-face {
    font-family: 'Kaspersky';
    src: url('/Kaspersky.ttf') format('truetype');
}

@font-face {
    font-family: 'Helsinki';
    src: url('/helsinki.ttf') format('truetype');
}

@font-face {
    font-family: 'Luxi';
    src: url('/luxisrb.ttf') format('truetype');
}


